<div class="title mt-10">
  <h1> Calcular sueldo completo </h1>
</div>

<div class="upload">
  <%= form_tag({:action => :create}, multipart: true) do %>
    <%= file_field_tag :file, id: 'file'%>
    <%= submit_tag( "Upload JSON", class: "btn btn-primary disabled disable-click", id: "submit") %>
  <% end %>
</div>

<% if @json %>
  <div class="row">
    <div class="col">
      <h3> Json output</h1>
      <p><%= @json %></p>
    </div>
  </div>
<% end %>